* {
  font-family: "Young Serif", serif;
  margin: 0;
}

.hero-div {
  display: flex;
  justify-content: center;
  background-image: url("./background\ img.jpg");
  background-size: cover; /* This ensures the image covers the entire container */
  height: 520px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 500px;
  background: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /* This is a semi-transparent black overlay (adjust the last value for darkness) */
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.header img {
  margin-left: 20px;
  width: 100px;
  height: 50px;
}

/* Hamburger Icon Container */
.hamburger-icon {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 20px;
}

/* Hamburger Lines */
.line {
  width: 26px;
  height: 4px;
  background-color: #011023;
  margin: 3px 0;
  transition: 0.2s;
  border-radius: 10px;
}

/* Active State for Hamburger Lines */
.line.active:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.line.active:nth-child(2) {
  opacity: 0;
}

.line.active:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Menu Items */
.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  border-top: 1px solid #000;
  z-index: 2;
}

.menu-items a {
  text-decoration: none;
  color: #000;
  margin: 10px;
}

.sub-hero {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-main-text {
  width: 250px;
  font-size: 18.3px;
  color: white;
  font-weight: 400;
  margin-top: 85px;
  text-align: center;
  line-height: 170%;
}

.arrow-div {
  height: 40px;
  margin-top: 30px;
  justify-content: center;
}

.arrow-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
}

.arrow-line {
  position: relative;
  width: 3px;
  height: 20px;
  background-color: #ffffff;
  margin: 2px;
  transition: height 0.3s ease-in-out;
  transform: rotate(45deg);
  margin-left: 15px;
}
.arrow-line2 {
  position: relative;
  width: 3px;
  height: 20px;
  background-color: #ffffff;
  margin: 2px;
  transition: height 0.3s ease-in-out;
  transform: rotate(-45deg);
  bottom: 24px;
  margin-right: 15px;
}

.up {
  transform: translateY(0px);
}

.down {
  transform: translateY(+20px);
}

.learn-more-div {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.learn-more {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 44px;
  background: #b80617;
  font-size: 15px;
  border-radius: 5px;
  color: #fff;
}

.first-info {
  display: flex;
  justify-content: center;
  background: white;
  height: 400px;
  width: 100%;
}

.square-stuff {
  border-radius: 10px;
  position: relative;
  margin-top: -30px;
  margin-left: 20px;
  margin-right: 20px;
  background: #011023;
  width: 80%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dema-line {
  height: 50px;
  width: 1px;
  background: #fff;
}

.experience-info {
  width: 70px;
  font-size: 13px;
  color: #fff;
  text-align: center;
}

.sales-info {
  text-align: center;
  width: 70px;
  font-size: 13px;
  color: #fff;
}
