* {
  font-family: "Young Serif", serif;
  margin: 0;
}

.hero-div {
  display: flex;
  justify-content: center;
  background-image: url("./background\ img.jpg");
  background-size: cover; /* This ensures the image covers the entire container */
  height: 500px;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* This is a semi-transparent black overlay (adjust the last value for darkness) */
}

.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.header img {
  margin-left: 20px;
  width: 100px;
  height: 50px;
}

/* Hamburger Icon Container */
.hamburger-icon {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 20px;
}

/* Hamburger Lines */
.line {
  width: 26px;
  height: 4px;
  background-color: #1f2824;
  margin: 3px 0;
  transition: 0.2s;
  border-radius: 10px;
}

/* Active State for Hamburger Lines */
.line.active:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.line.active:nth-child(2) {
  opacity: 0;
}

.line.active:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Menu Items */
.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  border-top: 1px solid #000;
  z-index: 2;
}

.menu-items a {
  text-decoration: none;
  color: #000;
  margin: 10px;
}

.sub-hero {
  position: absolute;
  display: flex;
  justify-content: center;
}

.hero-main-text {
  width: 250px;
  font-size: 18.3px;
  color: white;
  font-weight: 400;
  margin-top: 100px;
  text-align: center;
  line-height: 160%;
}
